<div class="footer_wrap">
    <a class="footer__btn footer__btn-home">홈</a>
    <a class="footer__btn footer__btn-mypage">나의여행</a> <!-- 내글보기 -->
    <a class="footer__btn footer__btn-group">여행그룹</a> <!-- 친구들이랑 했던 여행, 친구초대하기 -->
    <a href="/posts/new" class="footer__btn footer__btn-new">글쓰기</a>
</footer>