<!DOCTYPE html>
<html>
    <head>
        <%- include ('./components/head.ejs') %>
    </head>
    <body class="pc__bg">
        <div class="pc__container">
            <%- body %>
        </div>
        <%- script %>
    </body>
</html>