header {
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #efefef;
    background: #fff;
    text-align: center;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}

footer {
    height: 36px;
    line-height: 36px;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    color: #636363;
    text-align: center;
}