  /* Posts List */
  .posts{
    position: relative;
    min-height: 100vh;
    padding: 36px 20px;
    background: #fff;
    box-sizing: border-box;
  }
  .post__title {
    font-size: 16px;
    font-weight: bold;
    color: #111;
  }

  .posts__wrap {
    position: relative;
    margin-top: 32px;
  }

  .posts__btn-new {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    position: absolute;
    top: 36px;
    right: 20px;
    border-radius: 4px;
    background-color: #fff;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0 0 8px rgba(0,0,0,.16);
    box-sizing: border-box;
  }

  .posts__btn-new button {
    font-size: 13px;
    font-weight: bold;
  }

  .posts__container {
    margin-top: 32px;
  }

  .posts__list {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 12px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,.16);
    box-sizing: border-box;
  }
  .posts__link {
    display: block;
    padding: 12px 16px;
  }
  .posts__thumb_box {
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    box-sizing: border-box;
  }
  .posts__thumb {
    width: 100%;
    height: 100%;
    margin-bottom: 16px;
    border-radius: 6px;
    object-fit: cover;
    aspect-ratio: 16/9;
    vertical-align: bottom;
  }
  .posts__title {
    margin-bottom: 2px;
    font-size: 16px;
    font-weight: bold;
  }
  .posts__date {
    font-size: 13px;
    color: #505050;
  }

  /* Posts show */
  .posts_show {
    position: relative;
    padding: 16px 20px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,.16);
    overflow: hidden;
  }
  .posts_show__title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    color: #111;
  }
  .posts_show__info-time {

  }